/* Sizes are

1920x1200
1920x1080
1680x1050
1600x900
1440x900
1366x768
1024x800 
1024x600 */


@media only screen and (max-width: 1920px) and (max-height: 1200px) {
    #hero_div {
        padding: 5rem 10rem;
    }

    #hero_text1 {
        line-height: 1;
    }

    #hero_text2 {
        line-height: 1.5;
    }

    #hero_text3 {
        line-height: 1.8;
    }
    #about_main{
        padding: 0 10.5rem;
    }
    .hidden {
        display: block !important;
    }
    #education_main{
        padding: 5rem 14.5rem;
    }
    #middle_line1{
        height: 45vh;
    }
    #middle_line2{
        height: 45vh;
    }
    #middle_line3{
        height: 45vh;
    }
    #education_para{
        padding-right: 18rem;
    }
    #project_main{
        padding: 13rem 11rem;
    }
    #contact_main{
        padding: 5rem 15rem;
        gap: 10rem;
    }
    


}

@media only screen and (max-width: 1920px) and (max-height: 1080px) {
    #contact_main{
        padding: 5rem 14rem;
        gap: 10rem;
    }
    
}
@media only screen and (max-width: 1680px) and (max-height: 1050px) {

    #hero_div {
        padding: 5rem 2rem;
    }

    #hero_text1 {
        line-height: 1;
    }

    #hero_text2 {
        line-height: 1.8;
    }

    #hero_text3 {
        line-height: 1.8;
    }
    #about_main{
        padding: 0 3rem;
    }
    #education_main{
        padding: 5rem 7.5rem;
    }
    #project_main{
        padding: 12rem 3.8rem;
    }
    #contact_main{
        padding: 5rem 5rem;
        gap: 15rem;
    }
}
@media only screen and (max-width: 1600px) and (max-height: 900px) {

    #Navbar_main{
        padding: 0 2rem;
    }
    #hero_div {
        padding: 5rem 0rem;
    }
    #about_main{
        padding: 0 1.2rem;
    }
    #education_main{
        padding: 5rem 5.3rem;
    }
    #middle_line1{
        height: 50vh;
    }
    #middle_line2{
        height: 50vh;
    }
    #middle_line3{
        height: 50vh;
    }
    #project_main{
        padding: 12rem 1.1rem;
    }
    #contact_main{
        padding: 5rem 5rem;
        gap: 0rem;
    }

}
@media only screen and (max-width: 1440px) and (max-height: 900px) {
    #Navbar_main{
        padding: 0 4rem;
    }
    #about_main{
        padding: 0 1.5rem;
    }
    
    #education_main{
        padding: 5rem 5.3rem;
    }

    #middle_line1{
        height: 55vh;
    }
    #middle_line2{
        height: 55vh;
    }
    #middle_line3{
        height: 55vh;
    }
    #project_main{
        padding: 12rem 0rem;
    }
    #project_cards{
        padding-left: 6.2rem;
    }
}
@media only screen and (max-width: 1366px) and (max-height: 768px) {
    #education_main{
        padding: 5rem 5.5rem;
    }
    #education_para{
        padding-right: 5rem;
    }
    
}
@media only screen and (max-width: 1024px) and (max-height: 800px) {

    #Navbar_main{
        padding: 0 5rem;
    }
    #hero_div {
        padding: 5rem 0rem;
    }
    #hero_text1 {
        line-height: 1.2;
        padding-top: 5rem;
         font-size: 40px;
    }

    #hero_text2 {
        line-height: 1.5;
        font-size: 40px;
        
    }

    #hero_text3 {
        line-height: 1.5;
        font-size: 20px;
    }
    #about_main{
        padding: 0 2rem;
    }
    #about_heading{
        font-size: 30px;
    }
    #about_para{
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
    #skill_main{
        /* padding: 0 0rem; */
        padding-top: 5rem;
    }
    #skills_grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }
    #education_para{
        padding-right: 0rem;
    }
    #education_main{
        padding: 5rem 5rem;
    }

    #middle_line1{
        height: 60vh;
    }
    #middle_line2{
        height: 60vh;
    }
    #middle_line3{
        height: 60vh;
    }
    #project_cards{
        padding-left: 4.5rem;
    }
    #project_grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    #contact_para{
        font-size: 14px;
    }
    #contact_quote{
        font-size: 20px;
    }

    
}
@media only screen and (max-width: 1024px) and (max-height: 600px) {
    #education_main{
        padding: 5rem 4.5rem;
    }
    
  

    #middle_line1{
        height: 75vh;
    }
    #middle_line2{
        height: 75vh;
    }
    #middle_line3{
        height: 75vh;
    }
    
}
@media only screen and (max-width: 600px) {
    #nav_btn{
        height: 40px;
        width: 150px;
    }
    #nav_btn_text{
        font-size: 14px;
    }
    #nav_logo{
     width: 35%;   
    }
    #Navbar_main{
        padding: 0
    }
    #hero_container{
        display: flex;
        flex-direction: column-reverse;
    }
    #hero_div{
        padding: 0px;
    }
    #hero_image{
        max-width: 180%;
        width: 170%;
        margin-left: -4.5rem;
    }
    #hero_icon_div{
        bottom: -0rem;
        left: 0rem;
        right: -6rem;
    }
    #hero_icon_container{
        margin-right: 0rem;
    }
    #hero_social_icon{
        font-size: 1rem;
    }
    #icon_line_seprator{
        height: 3.5rem;
    }
    #hero_text_div{
        padding-left: 0px;
        width: 150%;
        margin-left: -3.5rem;
    }
    #hero_text1{
        font-size: 35px;
    }
    #hero_text2{
        font-size: 35px;
    }
    #hero_text3{
        font-size: 14px;
    }
    /* .animated-button{
        padding: 10px 26px;
    } */

    #about_container{
        flex-direction: column;
    }
    #about_main{
        padding-top: 8rem;
    }
    #about_img{
        max-width: 260%;
        width: 250%;
        margin-left: -7.3rem;
    }
    #about_para_div{
        max-width: 100%;
        width: 100%;
    }
    #about_para{
        padding-right: 0px;
        font-size: 14px;
        line-height: 19px;
    }

    #skill_main {
        padding-top: 10rem;
    }
    #skills_grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
    }
    #skills_grid .hidden {
        display: none;
    }

    #skills_grid .card {
        transition: all 0.3s ease-in-out;
    }

    #skills_grid {
        transition: max-height 1s ease-in-out;
    }
    
    #skills_grid.hide-partial {
        max-height: calc(150vh - 180px);
        overflow: hidden;
    }
    
    #skills_grid.show-all {
        max-height: none;
    }
    #left_heading{
        font-size: 15px;
        margin-right: -3rem;
        width: 150%;
    }
    #education_main2{
        margin-left: -5rem;
    }
    #education_heading{
        font-size: 30px;
        
    }
    #education_main{
        padding-top: 8rem;
    }
    #middle_main1{
        margin-left: 0px
    }
    #middle_main2{
         margin-left: 5px
    }
    #middle_main3{
         margin-left: 52px
    }
    #right_full{
        margin-left: 0;
        
    }
    #right_heading{
        font-size: 16px;
        width: 200%;
    }
    #right_subheading{
        font-size: 11px;
        width: 200%;
    }
    #education_para{
        padding-right: 1rem;
        width: 150%;
        font-size: 10px;
        margin-bottom: 0.5rem;
        
    }
    #right_div{
        
    }
    #middle_line1{
        height: 55vh;
    }
    #middle_line2{
        height: 45vh;
    }
    #middle_line3{
        height: 45vh;
    }

    #project_grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #project_cards{
        padding-left: 0rem;
        margin-left: -1rem;
        scale: 80%;
    }
    #contact_main{
        flex-direction: column;
    }
    #contact_div1{
        width: 120%;
        margin-left: -4rem;
        padding-right: 2rem;
    }
    #contact_para{
        padding-right: 2rem;
        width: 140%;
        font-size: 14px !important;
    }
    #contact_quote{
        font-size: 15px;
        width: 100%;
        padding-right: 2rem;
    }
    #contact_div2{
        width: 170%;
        max-width: 170%;
        margin-left: -5rem;
    }
    #contact_names{
        flex-direction: column;
    }
    #contact_name_input{
        width: 90%;
    }
    #footer_text{
        font-size: 12px;
    }
    #quote_main{
        width: 100%;

    }

    


    
}